

# Stop confirmation prompts. All information is contained below.
prompt			= no
distinguished_name = req_distinguished_name


[ req_distinguished_name ]
# Describe the Subject (ie the origanisation).
# The first 6 below could be shortened to: C ST L O OU CN
# The short names are what are shown when the certificate is displayed.
# Eg the details below would be shown as:
#    Subject: C=UK, ST=Hertfordshire, L=My Town, O=Some Organisation, OU=Some Department, CN=www.example.com/emailAddress=bofh@example.com

# Leave as long names as it helps documentation

countryName=		RO
stateOrProvinceName=	Cluj
localityName=		Cluj-Napoca
organizationName=	O
organizationalUnitName=	SSL
commonName=		logstash

[ req_attributes ]
# None. Could put Challenge Passwords, don't want them, leave empty
# challengePassword=@S00P35Ch4ll3ng3P4ssw0rd#@#4

subjectAltName = @alt_names

# List of all the other DNS names that the certificate should work for.
# alt_names is a name of my own invention
[ alt_names ]
DNS.1 = localhost
DNS.2 = elasticsearch-one.example.com
DNS.3 = elasticsearch-two.example.com

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)
policy		= policy_match

# For the CA policy
[ policy_match ]
countryName		= match
stateOrProvinceName	= match
organizationName	= match
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional

# For the 'anything' policy
# At this point in time, you must list all acceptable 'object'
# types.
[ policy_anything ]
countryName		= optional
stateOrProvinceName	= optional
localityName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= supplied
emailAddress		= optional